[push]
	default = simple
[user]
	name = Harrison Conlin
	email = me@harrisony.com
[core]
	editor = vim
	excludesfile = /Users/hconlin/.gitignore_global
[url "https://"]
	insteadOf = git://
[diff]
	algorithm = patience
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
