[user]
	name = Harrison Conlin
	email = me@harrisony.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[url "https://"]
	insteadOf = git://
[diff]
	algorithm = patience
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[credential]
	helper = osxkeychain
[push]
	default = simple
